<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.los.service.mapper.MchPayPassageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.los.service.entity.MchPayPassage">
        <id column="id" property="id" />
        <result column="mch_no" property="mchNo" />
        <result column="app_id" property="appId" />
        <result column="if_code" property="ifCode" />
        <result column="way_code" property="wayCode" />
        <result column="rate" property="rate" />
        <result column="risk_config" property="riskConfig" />
        <result column="state" property="state" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mch_no, app_id, if_code, way_code, rate, risk_config, state, created_at, updated_at
    </sql>

</mapper>
